/build*
/platforms/*/build
/platforms/*/cmake-build-debug
/platforms/*/.idea
/platforms/*/.old
/source-*
test/core
test/proposals
test/*.log
test/tailcall/*.S
node_modules/
__pycache__/
.project
.cproject
.settings
.vscode
.DS_Store
